* {
    margin: 0px;
    padding: 0px;
}

.topcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr;
    height: 800px;
    background-color: #7B1FA2;
}

.img {
     grid-row: 1 / 2;
}

.h3 {
   grid-row: 2 / 3;
}

.detaljeside {
    grid-row: 2 / 3;
}