/* ........name convention BEM.......*/

/*........Block............*/
.h1style{
    font-family: Verdana;
    font-size: 25px;
}
.pstyle{
    font-family: Arial, Helvetica, sans-serif;
    width: 315px; 
    height: 48px;
}
.start-button{
    background-color: #7B1FA2;
    color: white;
    border: #707070;
    margin: 20px auto;
    font-size: 15px;
    display: grid;
    justify-content: center;
    align-self: center;
}
.background{
    margin-top: 25%;
    background-image: url(../assets/IMG/background-main.png);
    background-color: #301545;
}
.img-container{
    width: 108px;
    height: 131px;
}
/*...........elements...............*/

/*...........modyfier..................*/
.h1style--center{
    text-align: center;
    color: white;
}