/* ........name convention BEM.......*/

/*........Block............*/
.h1style{
    font-family: Verdana;
    font-size: 25px;
    font-weight: normal;
}
.pstyle{
    font-family: Arial, Helvetica, sans-serif;
    width: 315px; 
    font-size: 12px;
    height: 48px;
}
.start-button{
    background: linear-gradient(to right,#4C26A0, #7B1FA2);
    color: white;
    border: #707070;
    margin: 30px auto;
    font-size: 15px;
    display: flex;
    justify-content: center;
    width: 90%;
    
}
.background{
    background-image: url(../assets/IMG/background-main.png);
    background-color: #301545;
}
.img-container{
    display: flex;
    margin-top: 15%;
    padding-bottom: 0;
}
.form-container{
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    display: grid;
}
/*...........elements...............*/
.form-container__input{
    background-color: #261136;
    border: #4826A0;
    color: white;
    height: 35px;
}
.form-container__label{
    margin-top: 20px;  
    font-size: 14px;
    font-weight: normal;
}
.pstyle__last{
    text-align: center;
    color: grey;
}
/*...........modyfier..................*/
.img-container--pstyle{
    color: white;
    margin: auto;
    margin-left:0;
}
.pstyle__last--line{
    text-align: center;
    color: grey;
    text-decoration-line: underline;
}

